<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<p>
		DUMMY PORTAL HEADER

		<br />

		<%= link_to "Home", main_app.root_path %> |
		<%= link_to "Workflows", main_app.workflows_path %> |
		<%= link_to "Runs", taverna_player.runs_path %> |
		<%= link_to "Service Credentials", taverna_player.service_credentials_path %>
	</p>

	<p id="notice"><%= notice %></p>

	<%= yield %>

	<p>
		DUMMY PORTAL FOOTER
	</p>

</body>
</html>
