<%
  # Copyright (c) 2013 The University of Manchester, UK.
  #
  # BSD Licenced. See LICENCE.rdoc for details.
  #
  # Taverna Player was developed in the BioVeL project, funded by the European
  # Commission 7th Framework Programme (FP7), through grant agreement
  # number 283359.
  #
  # Author: Robert Haines
%>

<h1>Workflows</h1>

<table>
  <tr>
    <th>Workflow</th>
    <th>Title</th>
    <th>Author</th>
    <th>Description</th>
    <th colspan="2">Action</th>
  </tr>

<% @workflows.each do |w| %>
  <tr>
    <td><%= w.id %></td>
    <td><%= w.title%></td>
    <td><%= w.author %></td>
    <td><%= w.description %></td>
    <td><%= link_to "List runs of this workflow", workflow_runs_path(w)%></td>
    <td><%= link_to "Run this workflow", new_workflow_run_path(w) %></td>
  </tr>
<% end %>

</table>
