<%
  # Copyright (c) 2013 The University of Manchester, UK.
  #
  # BSD Licenced. See LICENCE.rdoc for details.
  #
  # Taverna Player was developed in the BioVeL project, funded by the European
  # Commission 7th Framework Programme (FP7), through grant agreement
  # number 283359.
  #
  # Author: Robert Haines
%>

<div id="run-outputs">
  <% if run.outputs.size > 0 %>
    <h2>Outputs</h2>

    <%= link_to "Download All", run.results.url %>

    <% run.outputs.each do |output| %>
      <p>
        <b>Name:</b>
        <%= output.display_name %>
      </p>

      <p>
        <b>Value:</b>
        <%= "(#{output.metadata[:type]})" if output.depth == 0 %>
        <%= link_to "Download", run_path(run) + "/download/output/#{output.name}" %>
        <%= show_output(run, output) %>
      </p>

    <% end%>
  <% end %>

  <% unless run.log.blank? %>
    <p>
      <b>Log:</b>
      <%= link_to "Taverna Server log", run.log.url %>
    </p>
  <% end %>
</div>
